:root {
    --color-primary: #EDDFE0;
    --color-secondary: #F5F5F7;
    --color-tertiary: #B7B7B7;
    --color-extra: #705C53;
    --color-text: black;
  }

.header-section {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    background-color: var(--color-primary);
}

.bar {
    display: flex;
    gap: 2rem;
}

.logo img {
    height: 4.4rem;
}

.logo h4 {
    margin-top: 0;
}
.links {
    margin: 2rem;
}
.links a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--color-text);
}

.links a:hover {
    color: var(--color-extra);
}